:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

.theme-switch-wrapper {
    display: flex;
    margin-top: 1.5em;
    margin-left: 2em;
}

em {
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: var(--third-color);
}

table {
    width: 700px;
    border: none;
    background-color: var(--third-color);
    color: var(--second-color);
    border-radius: 10px;
}

nav {
    border: none;
    background-color: var(--first-color);
    color: var(--third-color);
    border-radius: 10px;
}

#icon {
    width: 50px;
}

form {
    align-content: center;
    width: 300px;
    background-color: var(--first-color);
    border-radius: 20px;
    color: var(--third-color);
}

#profile {
    width: 100px;
    background-color: var(--first-color);
    border-radius: 50%;
    color: var(--third-color);
}

a {
    text-decoration: none;
    color: var(--third-color);
}

input {
    border-radius: 10px;
}

iframe {
    width: 420px;
    height: 230px;
    background-color: var(--first-color);
    border-radius: 10px;
    color: var(--third-color);
}

button {
    border: none;
    background-color: var(--second-color);
    color: var(--third-color);
    border-radius: 10px;
}

@media (max-width: 720px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
    }
    body {
        background-color: var(--third-color);
    }
    iframe {
        width: 210px;
        height: 115px;
        background-color: var(--first-color);
        border-radius: 10px;
        color: var(--third-color);
    }
    #profile {
        width: 70px;
        background-color: var(--first-color);
        border-radius: 50%;
        color: var(--third-color);
    }
    table {
        width: 100px;
        border: none;
        background-color: var(--third-color);
        color: var(--third-color);
        border-radius: 10px;
    }
}